<div class="container">
    <h2>Preguntas Frecuentes</h2>

    <mat-accordion>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                Realizar un pedido
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="content_title">¿como realizo un pedido?</span>
            <p>No se pueden hacer pedidos ya que esta pagina no es la pagina de compra gamer. Este es un clon hecho para demostrar mis capacidad como desarrollador web a un futuro cliente y/o empleador. <br> Si usted estaba buscando comprar un producto de "Compra Gamer" le sugiero que busque por google su tienda oficial. Disculpe las molestias  </p>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                Formas de pago
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="content_title">No hay</span>
            <p>No hay formas de pago</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                Deposito - Transferencia Bancaria
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="content_title">No hay transferencias bancarias</span>
            <p>Tampoco hay transferencias bancarias</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                PagoGamer
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="content_title">No hay pago gamer</span>
            <p>No tenemos PagoGamer</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                MercadoPago
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="content_title">Tampoco</span>
            <p>No hay mercado pago</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                Envios
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="content_title">No hay envios</span>
            <p>No hay envios ya que no hacemos ninguna clase de venta</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                Facturacion
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="content_title">No facturamos</span>
            <p>No facturamos porque no vendemos nada</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                Garantias
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="content_title">No hacen falta</span>
            <p>Debido a que no vendo nada no hace falta ninguna garantia</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                Canjes y Promociones
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="content_title">Tampoco hacemos canjes</span>
            <p>Debido a que no vendo nada tampoco puedo hacer canjes</p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-card class="cardHelp">
        <h2 class="cardHelp_title">Compra Gamer te ayuda. ¿cual es tu consulta?</h2>
        <p>Para realizar una consulta es necesario que inicies sesión en tu cuenta</p>
        
        <!-- <button class="btn"> iniciar sesion</button> -->
        <div class="button_container">

            <span class="button_wrapper">
                <mat-icon>account_circle</mat-icon>
                iniciar sesion
            </span>
        </div>
    </mat-card>
</div>
